@import "~antd/dist/antd.css";

#MenuIcons {
    margin-top: 60px;
}

#LeftBlock {
    background-color: white;
}

.ant-list * {
    border-color: black;
}

#ant-row * {
    padding-top: 14px;
}

.Climbinq {
    align-items: center;
    width: 50%;
    height: 50vh;
}

.bordered {
    margin-top: 10px;
    padding-top: 10px;
}



.ui.vertical.tabular.menu .active.item {
    background: none #ffffff;
    color: rgb(75,32,191);
    border-color: #7866a9;
    margin: 0 -1px 0 0;
    border-radius: 2.28571rem 0 0 2.28571rem !important;
}